@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}
a{
    text-decoration: none;
    color: #f1f1f1;
}


/*nav-styles*/

.navigation-container{
    z-index: 2;
    background-color: #003459;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-style{
    font-size: 20px;
    padding: 1rem;
}

#pst-container{
    color: #f1f1f1;
    display: flex;
    align-items: center;
    padding: 0 1rem 0 0; 
}

.logo-container{
    transform: scale(0.7);
}

/*menu-styles*/

.menu-container{
    z-index: 1;
    background-color: #002E4F;
    position: fixed;
    min-width: 220px;
    min-height: 100vh;
    color: #f1f1f1;
}
.nav-aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
}

.user-circle{
    margin: 1.5rem 0 0.5rem;
}

.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    gap: 3px;
}

.nav-aside-hr-line{
    border-width: none;
    border-color: #f1f1f1;
    width:170px;
}

.nav-aside-headers{
    font-weight: 400;
    color: #B3B3B3;
    font-size: 12px;
    padding-left: 0.5rem;
}

.menu-section{
    margin:  2rem;
}

.menu-items{
    padding: 0.7rem;
    transition: all 0.5s;
    border-radius: 10px;

}

.menu-items:hover{
    background-color: #012239;
    transition: all 0.5s;
}

.menu-icons{
    padding-right: 0.5rem;
}

.general-section{
    margin:  2rem;
    min-width: 197.312px;
}

/*Welcome-text*/
.m-header{
    color: #404040;
    font-size: 14px;
}
.s-header{
    color: #1F4276;
    font-size: 32px;
}

.headers{
    display: flex;
    flex-direction: column;
    margin: 1rem 0 1rem 0;
}

.headers hr{
    width: 100%;
    margin: 1rem 20rem;
}

.main-header{
    color: #404040;
    font-size: 14px;
    margin-top: 7rem;
    margin-left: 21rem;
}
.sub-header{
    color: #1F4276;
    font-size: 32px;
    margin-left: 21rem;
}
.user-header{
    z-index: 0;
    object-fit: cover;
}
.section-title{
    color: #002E4F;
    font-size: 16px;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-left: 21rem;
}

.ateneo-image {
    position: relative;
    width: 100vw;
    background-position:center;
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -320%);
    text-align: left;
    color: white;
}

.welcome-text strong {
    font-size: 42px;
    color: white;
}

.welcome-text p {
    font-size: 16px;
    color: white;
    margin-top: 10px;
}

.main-user-containter{
    display: flex;
}
/*home overview*/
.home-overview {
    position: absolute;
    top: 50%;
    left: 400px; /* Adjusted left positioning */
    transform: translateY(-50%);
    text-align: center;
    color: #1F4276; 
    font-family: Arial, sans-serif;
}

/*medical services offered*/
.medical-services {
   margin-top: 1rem;
   margin-left: 21rem;
   display: flex;
}
.medical-services div{
    margin: 0 2rem 0 0; 
}
.medical-container {
    display: flex;
    flex-direction: row; /* Display items horizontally */
    justify-content: space-between; /* Space items evenly */
}

.health-checkup{
    cursor: pointer;
   position: relative;
   transition: all 0.5s;
}
.health-checkup:hover{
    transition: all 0.5s;
    transform: scale(1.02);
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(60, 103, 128, 0.5);
}

.announcements-container{
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    margin: 2rem;
    border-radius: 20px;
    border: #002E4F solid 2px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.announcement-items{
    width: 90%;
    align-self: center;
}
.right-side{
    margin-top: 13rem;
    margin-left: 3rem;
}

.right-side-items{
    display: flex;
    color: #FFB800;
    background-color: #003459;
    font-size: 14px;
    padding: 0.5rem 0 0.5rem 1rem;
}
.footnote{
    font-size: 10px;
    padding: 0 0 0 2rem;
}




