@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    
     /* Disable the highlight */
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     -o-user-select: none;
     user-select: none;
     
}

a{
    text-decoration: none;
    color: #f1f1f1;
}
body{
    background-color: #ffffff;
}

/*nav-styles*/

.navigation-container{
    background-color: #003459;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-style{
    font-size: 20px;
    padding: 1rem;
}

#pst-container{
    color: #f1f1f1;
    display: flex;
    align-items: center;
    padding: 0 1rem 0 0; 
}

.logo-container{
    transform: scale(0.7);
    color: #002E4F;
    transition: all 0.5s;
}

.logo-container:hover{
    transform: scale(0.65);
    opacity: 0.2;
    transition: all 0.5s;
}

/*menu-styles*/

.menu-container{
    background-color: #002E4F;
    position: fixed;
    min-width: 220px;
    min-height: 100vh;
    color: #f1f1f1;
}
.nav-aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
}

.user-circle{
    margin: 1.5rem 0 0.5rem;
}

.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    gap: 3px;
}

.nav-aside-hr-line{
    border-width: none;
    border-color: #f1f1f1;
    width:170px;
}

.nav-aside-headers{
    font-weight: 400;
    color: #B3B3B3;
    font-size: 12px;
    padding-left: 0.5rem;
}

.menu-section{
    margin:  2rem;
}

.menu-items{
    padding: 0.7rem;
    transition: all 0.5s;
    border-radius: 10px;

}

.menu-items:hover{
    background-color: #012239;
    transition: all 0.5s;
}

.menu-icons{
    padding-right: 0.5rem;
}


.general-section{
    margin:  2rem;
    min-width: 197.312px;
}

/*landing-styles*/
.footnote{
    font-size: 10px;
    padding: 0 0 0 1rem;
}

.landing-page{
    display: flex;
}

.upcoming-appointments-container{
    width: 300px;
    min-height: 250px;
    background-color: #ffffff;
    
    margin: 1rem;
    
    border-radius: 20px;
    border: #002E4F solid 2px;
    overflow: hidden;
}

.announcements-container{
    width: 300px;
    height: 250px;
    background-color: #ffffff;
    margin: 1rem;
    border-radius: 20px;
    border: #002E4F solid 2px;
    overflow: hidden;
}

.right-side{
    margin: 0.5rem;
    margin-top: 4rem;
    
}

.right-side-items{
    display: flex;
    color: #FFB800;
    background-color: #003459;
    font-size: 14px;
    padding: 0.5rem 0 0.5rem 1rem;
}

.headers{
    display: flex;
    flex-direction: column;
    margin: 1rem 0 1rem 0;
}
.main-header{
    color: #404040;
    font-size: 14px;
    margin-left: 19rem;
}
.sub-header{
    color: #1F4276;
    font-size: 32px;
    margin-left: 19rem;
}
.landing-health-staff-container{
    display: flex;
    flex-direction: column;
}

/*appointment details*/
.appointment-details{
    padding-left: 2rem;
}

.appointment-details .appointment-number{
    font-size: 96px;
    font-weight: 600;
    color: #1F4276;
}

.appointment-details .appointment-phrase{
    font-size: 24px;
    font-weight: 500;
    color: #1F4276;
}

.view-all{
    font-size: 12px;
    transition: all 0.5s;
}

.view-all:hover{
    transform: translateX(10px);
    transition: all 0.5s;
}
/*calendar-styles*/
.container {
    display: flex;    
  }
  .calendar {
    margin-left: 19rem;
    max-width: 900px;
    height: 500px;
    padding: 30px 20px;
    border-radius: 10px;
    background-color: #f1f1f1
  }
  .calendar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
  }
  .calendar .header .month {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    color: var(--text-color);
  }
  .calendar .header .btns {
    display: flex;
    gap: 10px;
  }
  .calendar .header .btns .btn {
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #002E4F;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .prev-btn{
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #002E4F;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
  }

  .prev-btn:hover{
    background-color: #002E4F;
    color: #f1f1f1;
    transform: scale(1.05);
  }

  .calendar .header .btns .btn:hover {
    background-color: #002E4F;
    color: #f1f1f1;
    transform: scale(1.05);
  }
  .weekdays {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  .weekdays .day {
    width: calc(100% / 7 - 10px);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
  }
  .days {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .days .day {
    width: calc(100% / 7 - 10px);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    background-color: #f1f1f1;
    transition: all 0.3s;
  }
  .days .day:not(.next):not(.prev):hover {
    color: #002E4F;
    background-color: #eaeaea;
    transform: scale(1.10);
  }
  
  .days .day.today {
    color: #ffffff;
    background-color: #003459;
  }
  .days .day.next,
  .days .day.prev {
    background-color: #eaeaea;
  }

