/* styles.css */

/* Style for form labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style for form input fields */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 330px;
    height: 35px;
    border: 0.5px solid #dfdfdf;
    border-radius: 10px;
    background-color: transparent;
    color:#dfdfdf;

    margin-bottom: 1rem;
    padding-left: .5em;
}

/* Style for form submit button */
input[type="submit"] {
    width: 340px;
    height: 35px;
    border-radius: 10px;
    background-color: #F1F2F2;
    color: #1F4276;

    border-color: transparent;
    font-weight: 700;
    margin: 1rem 0;
}
/* Style for error messages */
.error-message {
    color: red;
    font-size: 14px;
}

.go-back-btn{
    transition: all 0.5s;
}

.go-back-btn:hover{
    transform: translateX(10px);
    transition: all 0.5s;
}